html,
body,
#root {
  background-color: #1f1f1f;
  font-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", sans-serif;
}

.eu {
  width: 26rem;
  height: 26rem;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px #000000;
}

.logo {
  width: 1.4rem;
  height: 1.4rem;
  shadow: 0 4px 4px #000000;
}

@media screen and (max-width: 420px) {
  .eu {
    width: 16rem;
    height: 16rem;
    margin-left: 6rem;
    margin-bottom: 1rem;
    margin-top: 0rem;
  }
}
